<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      PANTALLA 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-grid>
  <ion-row>
    <ion-col sizeMd="4" offsetMd="4">
      <ion-list>
        <ion-item *ngFor="let usuario of usuarios" [routerLink]="['/perfil/' + usuario.id]">
          <ion-avatar slot="start">
            <img src="" alt="">
          </ion-avatar>
          <ion-label>{{usuario.name}}></ion-label>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

